:root {
  --color-text: #444;
  --color-background: rgb(255, 253, 253);

  --color-border: rgb(185, 185, 185);
  --color-highlight: rgb(243, 243, 243);

  --color-highlighted-background: rgb(194, 218, 255);
  --color-header-background: rgb(37, 37, 37);

  --color-tab-hover: rgb(175, 175, 175);

  --color-negative-skill: rgb(206, 8, 8);
}

/* global */

table {
  border-collapse: collapse;
}

body {
  min-width: 600px;
  background-color: var(--color-background);
  overflow-x: hidden;
  line-height: 1.4;
  color: var(--color-text);
  margin: 0 0 8em 0;
  font: 12px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

ul > li {
  display: inline-block;
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

/* main sections */

#header {
  color: var(--color-highlight);
  background-color: var(--color-header-background);
  font-size: 1.6em;
  text-align: center;

  width: 100%;
  padding: 0.6em 1em;
  margin: -0.1em 0em 3em 0em;
}

#open-source {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 3em;

  font-size: 1.2em;
  text-align: center;
}

#open-source p {
  padding: 0em 6em;
}

#main-body {
  max-width: 1200px;
  margin: auto;
}

/* global classes */

.banner {
  background-color: var(--color-highlight);
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-border);
  border-radius: 6px;
}

.def {
  color: rgb(0, 0, 0);
}

.fir {
  color: rgb(235, 69, 69);
}

.wat {
  color: rgb(54, 91, 146);
}

.ice {
  color: rgb(50, 204, 224);
}

.thn {
  color: rgb(207, 204, 9);
}

.drg {
  color: rgb(122, 49, 170);
}

.neg-skill {
  color: var(--color-negative-skill);
}

.hidden {
  display: none;
}

.highlighted {
  background-color: var(--color-highlighted-background);
}

/* navbar */

#navbar-container {
  font-size: 1.6em;
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 1.6em;
}

.navbar-option {
  position: relative;
  top: 1px;
  width: 4em;
  padding: 0.4em 2em;
  text-align: center;
  margin-bottom: -1px;
}

.navbar-selected {
  border-style: solid;
  border-width: 1px 1px 2px 1px;
  border-color: var(--color-border) var(--color-border) var(--color-background);
  border-radius: 0.4em 0.4em 0 0;
  z-index: 3;
}

.navbar-hover {
  background-color: var(--color-tab-hover);
  border-radius: 0.4em 0.4em 0 0;
  z-index: 3;
}

/* skill picker and search controls */

#search-global-settings select {
  font-size: 1.4em;
  margin-right: 0.6em;
}

#search-controls button {
  font-size: 1.3em;
  min-width: 8em;
  margin: 0.6em 0.6em 0 0;
}

.search-picker-category-title {
  padding: 0.4em 1em;
  margin: 1em 0;
  font-weight: 600;
}

.search-picker-activation {
  margin: 0.4em 0.7em;
  width: 10em;
  display: inline-flex;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
}

.search-picker-activation-name {
  padding: 0 0.4em;
}

/* charms */

#charm-picker {
  padding-bottom: 0.4em;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--color-border);
}

#charm-import {
  margin-left: 2em;
}

.charm-skill-pick {
  width: 10em;
}

.charm-points-pick {
  width: 3em;
}

#charm-table {
  margin-top: 2em;
}

#charm-table tr,
td,
th {
  width: 6em;
  text-align: center;
  font-size: 1.1em;
}

#charm-table tr {
  border-width: 1px 0;
  border-color: var(--color-border);
  border-style: solid;
}

#charm-table th {
  background-color: var(--color-highlight);
}

.charm-delete {
  cursor: pointer;
  user-select: none;
}

/* results */

.results-title {
  margin-top: 1.6em;
  font-size: 1.4em;
}

.results-banner {
  margin-top: 0.2em;
  font-size: 1.2em;
  padding: 0.4em 1em;
}

.results-table {
  margin-top: 1em;
  width: 100%;
}

.results-table th {
  font-size: 1.4em;
  text-align: center;
  background-color: var(--color-highlight);

  border-width: 1px 0;
  border-color: var(--color-border);
  border-style: solid;
}

.result-set {
  border-width: 1px 0;
  border-color: var(--color-border);
  border-style: solid;
  cursor: pointer;
}

.result-set-row p {
  display: inline-block;
  margin: 0.3em 1em 0.3em 0;
}

.result-set-row2 td {
  text-align: left;
  padding-left: 3em;
}

.result-set-unrelated {
  margin-left: 3em;
}

.result-set-unrelated-skill {
  margin-left: 2em;
}

.result-set-details {
  width: 100%;
}

.result-set-details-container {
  margin: 1em auto;
  width: 80%;
}

.result-set-skill-table th {
  font-size: 1em;
  border-width: 1px 0;
  border-color: var(--color-border);
  border-style: solid;
  background-color: var(--color-highlight);
}

.result-set-skill-table td {
  font-size: 0.8em;
}

.result-set-skill-table {
  table-layout: unset;
}
